<div class="container">
  <h5 class="text-center mt-3">投稿内容の編集</h5>

  <%= render 'error_messages', post_image: @post_image %>

  <%= form_with model: @post_image, url: user_post_image_path, method: :patch do |f| %>

    <%= render 'form', f: f %>

  <% end %>
  <p class="text-center"><%= link_to "＊ 投稿詳細に戻る",user_post_image_path(@post_image.id),class: " text-center text-reset" %></p>
</div>