<div class="container">
  <h3 class="text-center mt-3">あなたの花の咲く場所を投稿しよう！</h3>

  <%= render 'error_messages', post_image: @post_image %>

  <%= form_with model: @post_image, url: user_post_images_path, method: :post do |f| %>

    <%= render 'form', f: f %>

  <% end %>
  <p class="text-center"><%= link_to "＊ マイページに戻る",user_user_path(@user.id), class: " text-center text-reset" %></p>
</div>