<div class="container">
  <h5 class="text-center mt-3">検索結果</h5>
  <% if @search_post_images.exists? %>
    <%= render 'flowers' ,post_images: @search_post_images %>
  <% else %>
    <h3 class="text-center mt-3">一致するものが見つかりませんでした</h3>
  <% end %>
</div>