<% flash.each do |message_type, message| %>
  <div class="alert alert-success text-center text-truncate mt-5 mx-auto flash-messages <% message_type %>"><%= message %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>