<div class="profile-block">
  <% if user == current_user %>
    <h5 class="text-center">あなたのプロフィール</h5>
  <% elsif %>
    <h5>プロフィール</h5>
  <% end %>
  <div class="my-5">
    <%= image_tag user.get_profile_image(100,100) %>
  </div>
  <div class="mt-3">
    <p>ユーザーネーム</p>
    <h5><%= user.name %></h5>
  </div>
  <div class="mt-3">
    <p>自己紹介</p>
    <h5><%= user.introduction %></h5>
  </div>
</div>