<div class="container">
  <% if @user == current_user %>
    <h3 class="text-center mt-3">あなたのお気に入りの投稿</h3>
  <% else %>
    <h3 class="text-center mt-3">このユーザーお気に入りに追加した投稿</h3>
  <% end %>
  <% if @favorites.present? %>

  <h5 class="text-center mt-3">お気に入り登録：<%= @favorites.count %> 件</h5>

    <%= render 'user/post_images/flowers', post_images: @favorites %>

  <% else %>
    <div class="informetion">
      <%= image_tag("green-flower.png")%>
      <h5>お気に入りに追加された投稿はまだはありません。</h5>
    </div>
  <% end %>
</div>