<div class="container">
  <h3 class="text-center mt-3">花を見つけた人達</h3>
  <div class="d-flex justify-content-center mt-3">
    <div class="user-group">
    
      <%= render 'users', users: @users %>
    
    </div>
  </div>
</div>