<% if flash[:notice] %>
  <p id = "notice">
    <%= flash[:notice]%>
  </p>
<% end %>

<% if @user.is_active == false %>
  <h3>退会済みユーザー</h3>
<% end %>

<%= render 'profile', user: @user %>

<% if @user == current_user %>
  <h3>あなたの花の咲く場所</h3>
<% else %>
  <h3>このユーザーの花の咲く場所</h3>
<% end %>

<%= render 'user/post_images/flowers', post_images: @post_images %>