<div class="container">
  <h1 class="text-center mt-3">ABOUT</h1>
  <div class="d-flex justify-content-center">
    <p class="text-center mt-5">このサイトは花の咲く場所を投稿し、また投稿された花の咲く場所を閲覧して、<br>
     全国の花の名所や植物園などの開花状況などを共有できる「花の咲く場所」のレビューサイトです。
    </p>
  </div>
</div>