<h1>ABOUT</h1>

<% if flash[:notice] %>
  <p id = "notice">
    <%= flash[:notice]%>
  </p>
<% end %>

<div>
 <p>このサイトは花の咲く場所を投稿し、また投稿された花の咲く場所を閲覧して、<br>
 全国の花の名所や植物園などの開花状況などを共有できる「花の咲く場所」のレビューサイトです。</p>
</div>