<div class="container">
  <h1 class="text-center mt-3">ABOUT</h1>
  <p class="text-center font-italic mt-5">
    このサイトは花の咲く場所を投稿し、<br>
    また投稿された花の咲く場所を閲覧して、<br>
    全国の花の名所や植物園などの<br>
    花の開花状況などを共有する事ができる
  </p>
  <p class="text-center font-italic">
    「花の咲く場所」のレビューサイトです。
  </p>
  <div class="infometion">
    <%= image_tag("green-flower.png")%>
  </div>
</div>