<%= render 'user/users/profile', user: @user %>

<% if current_user == @user %>
  <h3>あなたがフォロー中のユーザー</h3>
<% else %>
  <h3><%= @user.name %>さんがフォロー中のユーザー</h3>
<% end %>

<% if @users.exists? %>
 <%= render 'user/users/users', users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

<%= link_to "ユーザー情報に戻る",user_user_path(@user.id)%>
