<%= render 'user/users/profile', user: @user %>

<% if current_user == @user %>
  <h3>あなたのフォロワー</h3>
<% else %>
  <h3><%= @user.name %>さんのフォロワー</h3>
<% end %>

<% if @users.exists? %>
 <%= render 'user/users/users', users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
