<div class="container">
  <h3 class="text-center mt-3">投稿詳細の修正</h3>

  <%= render 'user/post_images/error_messages', post_image: @post_image %>

  <%= form_with model: @post_image, url: admin_post_image_path, method: :patch do |f| %>

    <%= render 'user/post_images/form', f: f %>

  <% end %>
  <p class="text-center"><%= link_to"＊ 投稿詳細に戻る",admin_post_image_path(@post_image.id),class: " text-center text-reset" %></p>
</div>