<div class="container">

  <%= render 'user/post_images/post_image', post_image: @post_image, user: @user %>

  <div class="d-flex flex-column">
    <div class="ml-auto">
      <h3 class="my-3">
        ♥<%= @post_image.favorites.count %> いいね
      </h3>
    </div>
  </div>

  <%= render 'user/post_images/comment', post_image: @post_image %>

</div>