/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

$main-color: #203744;
$sub-color: #165e83;
$font-color: #c1e4e9;
$my-color: #a22041;
$my-font-color: #fdeff2;

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  color : $font-color;
  font-family: 'Zen Maru Gothic', serif;
}

.bg-my-color {
  background-color: $my-color;
}

.my-font-color {
  color: $my-font-color;
}

.border-line {
  border: 1px solid $font-color;
}

.my-border-line {
  border: 3px solid red;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  height: 100vh;
}

header {
  background-color: $sub-color;
  border-bottom: solid 1px red;
}

.header-window {
  height: 70px;
  min-width: 350px;
  max-width: 500px;
  background-color: $my-color;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
}

.font-family-admin {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  flex-grow: 1;
  background-color: $main-color;
}

.sign-up-form {
  width: 300px;
  margin-top: 30px;
}

.image-group {
  height: 100%;
  width: 100%;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
}

footer {
  border-top: solid 1px red;
  background-color : $sub-color;
}

.pagination>li>a {
  border: none;
  background-color: $main-color;
  color: $font-color;
  margin: 1px;
}

.pagenation>.active>a {
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

.detail-area {
  height: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-field {
  width: 75%;
  margin: 30px auto 0;
}

.comment-area {
  width: 75%;
  margin: 50px auto;
}

.profile-area {
  width: 250px;
  margin: 10px auto 30px;
  padding: 10px;
  background-color: $sub-color;
  border-radius: 5px;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin: 10px auto 0;
}

.text-block {
  width : 200px;
  margin: 0 auto;
}

.user-group {
  display: flex;
  flex-wrap: wrap-reverse;
}

.user-block {
  width: 200px;
  max-height: 500px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: $sub-color;
}

.user-image {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.user-name {
  width: 150px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.flash-message-area {
  display: flex;
  justify-content: center;
}

.alert-message {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}