/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

$main-color-green: #165e83;
$background-color-green: #203744;
$color-green: #bce2e8;

$main-color-red: #6c2c2f;
$background-color-red: #a22041;
$color-red: #eebbcb;

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic', serif;
}

.background-color-green {
  background-color: $background-color-green;
  color: $color-green;
}

.background-color-red {
  background-color: $background-color-red;
  color: $color-red;
}

.main-color-green {
  background-color : $main-color-green;
  color: $color-green;
}
.main-color-red {
  background-color: $main-color-red;
  color: $color-red;
}

.user-color {
  background-color: $main-color-green;
  border: 1px solid #00ffff;
  .border-line {
    border: 1px solid $color-green;
    border-radius: 3px;
  }
}

.my-color {
  background-color: $main-color-red;
  border: 1px solid #ff0000;
  color: $color-red;
  .border-line {
    border: 1px solid $color-red;
    border-radius: 3px;
  }
}

.admin-font {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 200px;
  border-bottom: solid 1px red;
  .header-window {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.search-form-window {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 10px;
  .search-form-top {
    margin: 5px;
  }
  .search-form-bottom {
    display : flex;
    justify-content: center;
    margin: 5px;
    .search-form-day {
      display : flex;
      justify-content: center;
      span {
        margin: 3px 5px 0;
      }
    }
    .search-form-button {
      margin-left: 10px;
    }
  }
}

.header-detail {
  background-color: $main-color-red;
  width: 800px;
  height: 50px;
  border: solid 1px #ff0000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    div {
      width: 200px;
      h6 {
      color: $color-red;
      font-size: 14px;
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 10px 30px;
      }
    }
  }
}

main {
  flex-grow: 1;
  background-color: $background-color-green;
  color: $color-green;
}

.home-image {
  height: 500px;
  width: 100%;
  background-image: image-url("home_image1.jpg");
  background-size: cover;
  margin: 20px auto;
  div {
    height: 500px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 100px;
    h3 {
      letter-spacing: 0.5em;
      img {
        margin: 10px 0;
      }
    }
  }
}

.home-button {
  display: flex;
  justify-content: center;
  div {
    margin: 10px;
  }
}

.text-box {
  width: 350px;
  line-height: 2;
  margin: 0 auto;
  p {
    text-align: center;
    margin-top: 30px;
  }
}

.sign-up-form {
  width: 300px;
  margin-top: 10px;
  line-height: 20px;
}

.user-window {
  width: 500px;
  background-color: $main-color-red;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  .header-user-name {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: #fff;
  }
}

.select-tag-bar {
  width: 300px;
}

.pagination>li>a {
  border: none;
  background-color: $main-color-green;
  color: $color-green;
  margin: 1px;
}

.pagenation>.active>a {
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

@mixin user_area($width) {
  width: $width;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  h5 {
    text-align: center;
    word-break: break-all;
  }
  h6 {
    text-align: center;
    word-break: break-all;
  }
  p {
    text-align: center;
  }
  div {
    margin-top: 10px;
  }
}

.post-image-border{
  border: 3px solid $color-green;
  border-radius: 3px;
}

.post-image-detail {
  max-width: 600px;
  min-height: 500px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
  }
  h6 {
    margin-top: 30px;
  }
}

.favorite-field {
  margin: 30px 30px 30px auto;
}

.comment-field {
  width: 75%;
  margin: 0 auto;
}

.comment-area {
  width: 75%;
  margin: 50px auto;
}

.comment-user-name {
  width: auto;
}

.profile-area {
  @include user_area(300px)
  margin: 10px auto 30px;
}

@mixin user_group($width) {
  width: $width;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.user-block {
  @include user_area(200px)
  max-height: 400px;
  margin: 10px 10px;
  .user-name {
    width: 150px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
}

.user-block:nth-child(1) {
  margin: 10px auto;
}
.user-block:nth-child(2) {
  margin: 10px auto;
}

.user-group {
  @include user_group(1100px)
}

.relationship-group {
  @include user_group(660px)
}

.flash-message-area {
  display: flex;
  justify-content: center;
}

.alert-message {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.informetion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  h5 {
    color: $color-green;
    text-align: center;
    margin: 50px auto;
  }
}

footer {
  border-top: solid 1px red;
  background-color : $main-color-green;
  color :$color-green;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1200px) {

  .user-window {
    width: 300px;
    .header-user-name {
      width: 150px;
    }
  }
  .header-detail {
    margin-bottom: 20px;
  }
  .user-group {
    @include user_group(880px)
  }
  .relationship-group {
    @include user_group(440px)
  }
}

@media screen and (max-width: 992px) {

  header {
    height: 250px;
  }

  .header-window {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .user-window {
    width: 600px;
    margin: 0 auto;
    .header-user-name {
      width: 350px;
    }
  }

  .header-detail {
    width: 600px;
    height: 70px;
    margin: 0 auto 20px auto;
    div {
      width: 200px;
      display: block;
    }
  }

  .search-form-window {
    margin-top: 10px;
  }
  .home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin: 10px;
    }
  }

  .post-image-border{
  margin-bottom: 20px;
}
  .user-block {
    margin-top: 10px;

  }
  .user-group {
    @include user_group(660px)
  }
}

@media screen and (max-width: 768px) {

  .haeder-window{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-window {
    width: 500px;
  }

  .search-form-window {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-form-top {
    width: 500px;
  }
  .search-form-day-start {
    width: 200px;
  }
  .search-form-day-end {
    width: 200px;
  }
  .home-image {
    background-image: image-url("home_image2.jpg");
    background-position: bottom;
  }
  .comment-user-name {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .user-group {
    @include user_group(440px)
  }
}

@media screen and (max-width: 567px) {

  p {
    font-size: 14px;
  }

  header {
    height: 400px;
  }
  .user-window {
    width: 350px;
    .header-user-name {
      width: 150px;
    }
  }
  .search-form-top {
    width: 340px;
  }
  .search-form-day-start {
    width: 155px;
  }
  .search-form-day-end {
    width: 155px;
  }
  .search-form-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .search-form-button {
      margin-top: 10px;
    }
  }

  .header-detail {
    width: 300px;
    height: 140px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    div {
    display: block;
    margin-bootm: 10px;
    }
  }
  .comment-user-name {
    width: 100px;
  }
  .user-group {
    @include user_group(220px)
  }
  .relationship-group {
    @include user_group(220px)
  }
}