/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color : #165e83;
  border-bottom: solid 1px red;
}

body {
  font-family: 'Zen Maru Gothic', serif;
  color: #c1e4e9;
  background-color: #203744;
}

a {
  color: #c1e4e9;
  text-decoration: none;
}

main {
  min-height: 300px;
}

footer {
  border-top: solid 1px red;
  background-color : #165e83;
}