<div class="container">
  <h3 class="text-center mt-3">検索結果：<%= @search_users.count %> 件</h3>
  <% if @search_users.exists? %>
    <div class="d-flex justify-content-center mt-3">
      <div class="user-group">
        <% @search_users.each do |user| %>

          <%= render 'user/users/user_block', user: user %>

        <% end %>
      </div>
    </div>
  <% else %>
    <div class="informetion">
      <%= image_tag("green-flower.png") %>
      <h5>＊ 見つかりませんでした。</h5>
    </div>
  <% end %>
</div>