<div class="container">
  <h3 class="text-center mt-3">検索結果</h3>
  <% if @search_users.exists? %>

    <%= render 'user/users/users' ,users: @search_users %>

  <% else %>
    <div class="infometion">
      <%= image_tag("green-flower.png")%>
      <h5>＊ 見つかりませんでした。</h5>
    </div>
  <% end %>
</div>